<mat-drawer-container class="app-container" [hasBackdrop]="true">
  <mat-drawer-content>
    <header class="header">
      <div class="header-content">
        <h1>{{ appConstants.TITLE }}</h1>
        <div>
          <button
            data-testing="toggle-reading-list"
            mat-button
            class="header-button-reading-list"
            aria-label="Reading list"
            (click)="drawer.toggle()"
          >
          {{ appConstants.READING_LIST_TEXT }}
            <tmo-total-count></tmo-total-count>
          </button>
        </div>
      </div>
    </header>
    <main>
      <tmo-book-search></tmo-book-search>
    </main>
  </mat-drawer-content>
  <mat-drawer #drawer mode="over" position="end">
    <div class="reading-list-container" data-testing="reading-list-container">
      <h2>
        {{ appConstants.MY_READING_LIST }}
        <button mat-icon-button aria-label="Close reading list" (click)="drawer.close()" data-testing="close-reading-list">
          <mat-icon>{{ appConstants.CLOSE }}</mat-icon>
        </button>
      </h2>
      <div class="reading-list-content">
        <tmo-reading-list></tmo-reading-list>
      </div>
    </div>
  </mat-drawer>
</mat-drawer-container>
